.modeButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background: var(--background-color);
  border: 0;
  border-radius: 10px;
  transition: 0.25s;
  @media only screen and (min-width: 1280px) {
    width: 3.5rem;
    height: 3.5rem;
  }
  svg {
    width: 4rem;
    height: 4rem;
    fill: var(--foreground-color-light);
    @media only screen and (min-width: 1280px) {
      width: 3.5rem;
      height: 3.5rem;
    }
    .Sun, .Moon, .Land, .Stars {
      transition: 0.25s;
    }
  }
  &.lightTheme {
    svg {
      .Sun {
        transform: translate(0, 0);
      }
      .Moon {
        transform: translate(-2px, 47px);
      }
      .Land {
        transform: translate(0, 0);
      }
      .Stars {
        display: none;
      }
    }
  }
  &.darkTheme {
    // transform: rotate(180deg);
    svg {
      .Sun {
        transform: translate(20px, 60px);
      }
      .Moon {
        transform: translate(-18px, 2px);
      }
      .Land {
        transform: translate(0, 0);
      }
      .Stars {
        display: inline-block;
      }
    }
  }
}